  header {
    background: #97ece5;
  }

main {
  display:grid;
  'aside article article'
  'aside footer footer';
  grid-gap:30px;
}
  
  aside {
    background: #f75f6c;
  } 

  article {
    background: #ffffff;
  }

  footer {  
    background: #8b75fd;
  }
